In [1]:
import pandas as pd

data = ['Jeff Russell', 'Jane Boorman', 'Tom Heints']
emps_names = pd.Series(data)

print(emps_names)

0    Jeff Russell
1    Jane Boorman
2      Tom Heints
dtype: object

In [3]:
# Use custom indexes for series
emps_names = pd.Series(data, index=[9001, 9002, 9003])
print(emps_names)

9001    Jeff Russell
9002    Jane Boorman
9003      Tom Heints
dtype: object

In [4]:
# Access by Series Index
emp_9001 = emps_names[9001]
print(emp_9001)

Jeff Russell

In [5]:
# Access by Index
emp_idx_0 = emps_names.iloc[0]
print(emp_idx_0)

Jeff Russell

In [7]:
emails = ['jeff.russel@company.com', 'jane.boorman@company.com', 'tom.heints@company.com']
emps_emails = pd.Series(emails, index=[9001, 9002, 9003])

print(emps_emails)

9001     jeff.russel@company.com
9002    jane.boorman@company.com
9003      tom.heints@company.com
dtype: object

In [8]:
# Merge 2 Series into 1 turning both into a single Data Frame
# Set a name for the existing series
emps_names.name = 'name'
emps_emails.name = 'email'

# Concatenate using columns with `axis = 1`
df = pd.concat([emps_names, emps_emails], axis = 1)

print(df)

              name                     email
9001  Jeff Russell   jeff.russel@company.com
9002  Jane Boorman  jane.boorman@company.com
9003    Tom Heints    tom.heints@company.com

Create a three/four column DataFrame

In [11]:
phones = ['+0 (982) 3454-8290', '+0 (982) 1167-9388', '+0 (982) 4544-8822']

emps_phones = pd.Series(phones, index=[9001, 9002, 9003])
emps_phones.name = 'phone'

print(emps_phones)

9001    +0 (982) 3454-8290
9002    +0 (982) 1167-9388
9003    +0 (982) 4544-8822
Name: phone, dtype: object

In [12]:
locations = ['Amsterdam', 'Budapest', 'Washington D.C.']

emps_locations = pd.Series(locations, index=[9001, 9002, 9003])
emps_locations.name = 'location'

print(emps_locations)

9001          Amsterdam
9002           Budapest
9003    Washington D.C.
Name: location, dtype: object

In [14]:
df = pd.concat([emps_names, emps_emails, emps_phones, emps_locations], axis = 1)

print(df)

              name                     email               phone  \
9001  Jeff Russell   jeff.russel@company.com  +0 (982) 3454-8290
9002  Jane Boorman  jane.boorman@company.com  +0 (982) 1167-9388
9003    Tom Heints    tom.heints@company.com  +0 (982) 4544-8822

             location
9001        Amsterdam
9002         Budapest
9003  Washington D.C.