In [9]:
import geocoder

geocode_res = geocoder.osm('1 Apple Park Way, Cupertino, California, United States')

In [21]:
coordinates = geocode_res.geometry['coordinates']
print(coordinates)

[-122.010747, 37.3317424]

In [42]:
import pandas as pd

df = pd.read_csv("ex09_geolocation_moving_obj.csv", names=['cab', 'lat', 'long', 'tm'])
display(df)

       cab        lat       long        tm
0   cab_26  43.602508  39.715685  14:47:44
1  cab_112  43.582243  39.752077  14:47:55
2   cab_26  43.607480  39.721521  14:49:11
3  cab_112  43.579258  39.758944  14:49:51
4  cab_112  43.574906  39.766325  14:51:53
5   cab_26  43.612203  39.720491  14:52:48

In [43]:
latestrows = df.sort_values(['cab', 'tm'], ascending=False).drop_duplicates('cab')
display(latestrows)

       cab        lat       long        tm
5   cab_26  43.612203  39.720491  14:52:48
4  cab_112  43.574906  39.766325  14:51:53

In [44]:
latestrows_numpy = latestrows.values
latestrows = latestrows_numpy.tolist()
display(latestrows)

[['cab_26', 43.612203, 39.720491, '14:52:48'],
 ['cab_112', 43.574906, 39.766325, '14:51:53']]

In [45]:
# calculate the distance between each cab and a pickup place
from geopy.distance import distance

pick_up = (43.578854, 39.754995)

for i, row in enumerate(latestrows):
    lat = row[1]
    long = row[2]
    cab = (lat, long)
    dist_meters = distance(pick_up, cab).m

    print(row[0] + ':', round(dist_meters))
    latestrows[i].append(round(dist_meters))

display(latestrows)

cab_26: 4636
cab_112: 1015

[['cab_26', 43.612203, 39.720491, '14:52:48', 4636],
 ['cab_112', 43.574906, 39.766325, '14:51:53', 1015]]

In [46]:
closest_cab = min(latestrows, key=lambda x: x[4])
print('The closest cab is: ', closest_cab[0], '. Distance in meters: ', closest_cab[4])

The closest cab is:  cab_112 . Distance in meters:  1015